<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PPPC_AutomatedFaxEntities" connectionString="metadata=res://*/Data.PPPC_AutomatedFaxEntities.csdl|res://*/Data.PPPC_AutomatedFaxEntities.ssdl|res://*/Data.PPPC_AutomatedFaxEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.254.171;initial catalog=PPPC_AutomatedFax;user id=vs_autofax_usr;password=Midland1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="DEV_Username" value="erickrauss"/>
    <add key="PROD_Username" value="LAC-Admin"/>
    <add key="DEV_Password" value="V2shC2t1!"/>
    <add key="PROD_Password" value="123456"/>
    <!-- the below key turns the program to point to the PROD account.  Make the value true for PROD and false for DEV -->
    <add key="IsPROD" value="true"/>
    <add key="SenderEmailid" value="ekrauss@propharmaconsultants.com" />
    <add key="Password" value="ProPharma#1" />
    <add key="Office365WebserivceURL"
           value="https://outlook.office365.com/ews/exchange.asmx" />
    <add key="Recipients" value="ekrauss@gmail.com" />
</appSettings>
</configuration>